//- xy 此文件对应数据库2界面

doctype html
html
  head
    title= database2_page  
    meta(charset="UTF-8") 
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="renderer" content="webkit") 
    meta(name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no") 
    //兼容IE
    meta(http-equiv="X-UA-Compatible" content="IE=edge" ) 
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8") 
    meta(http-equiv="Content-Type" content="text/html; charset=gb2312") 
    meta(name="keywords" content="Highc") 
    meta(name="description" content="Highcharts") 

    link(rel="stylesheet" href="/Lib/bootstrap5/bootstrap.min.css")
    link(rel="stylesheet" href="/Lib/node_modules/jquery-confirm/css/jquery-confirm.css")

    style. 
      body{
      background-image: url('/images/bg_lib/bg6.jpg');   //背景图 
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      //字体颜色大小
      color: white;                                       
      font-size: 20px;                                    
      }
      #navbarDropdown1{
        background-color: rgb(13,110,253);
        color:white;
      }
      #footer{
        text-align: center;
        color: white;
        font-size: 10px;
      }
   
  body
    //- 导航栏
    div.nav.navbar.navbar-expand-lg.navbar-dark.fixed-top(style='background-color: #366cb4;')    
        .container-fluid
          a.navbar-brand(href='#')
            img.d-inline-block.align-text-center(src='/images/ecnu_logo2.png' alt='' width='30' height='30')
            |  Totally Automatic Optimist
          button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarSupportedContent.nav-pills.collapse.navbar-collapse       
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link(href='/index') Home
              li.nav-item
                a.nav-link(href='/AI') Retrosynthetic Analysis
              li.nav-item
                a.nav-link(href='/processing') Run Platform
              li.nav-item
                a.nav-link(href='/result') Experimental Results
              //- 数据库下拉选项
              li.nav-item.dropdown
                a#navbarDropdown1.nav-link.dropdown-toggle(data-bs-toggle='dropdown' href='#' role='button' aria-expanded='false') 
                  | Database2
                ul.dropdown-menu(aria-labelledby='navbarDropdown1')
                  li
                    a.dropdown-item(href='/database1') Database1
                  li
                    a.dropdown-item(href='/database2') Database2
              //- //- 视频监控下拉选项
              //- li.nav-item.dropdown
              //-   a#navbarDropdown2.nav-link.dropdown-toggle(data-bs-toggle='dropdown' href='#' role='button' aria-expanded='false') 
              //-     | 视频监控
              //-   ul.dropdown-menu(aria-labelledby='navbarDropdown2')
              //-     li
              //-       a.dropdown-item(href='/camera1') 视频监控1
              //-     li
              //-       a.dropdown-item(href='/camera2') 视频监控2
              li.nav-item
                a.nav-link(href='/camera') Video Surveillance
            a(href='/logout')
              button.btn.btn-success.position-absolute.top-50.end-0.translate-middle(type = 'button')
                | &nbsp Exit &nbsp &nbsp &nbsp

    div.container(style = "margin:auto; margin-top:5rem; display:block;")
      table.table.caption-top.table-dark.text-center.table-hover.table-striped
        //- caption.text-center
        //-   h3 人员登记表
        thead
          td  Chloroacetyl Chloride (M)
          td  Dissolvant (M)
          td  Temperature (℃)
          td  Velocity (ul/min)
          td  Time  (min)
          td  Yield (%)


        tr
          td  0.5
          td  NMP
          td  60
          td  50
          td  10   
          td  14.09
    
        tr
          td  0.5
          td  NMP
          td  80
          td  50
          td  10   
          td  14.13
    
        tr
          td  0.5
          td  NMP
          td  100
          td  50
          td  10   
          td  16.88
    
        tr
          td  0.6
          td  NMP
          td  100
          td  50
          td  10   
          td  88.95
        
        tr
          td  0.65
          td  NMP
          td  100
          td  50
          td  10   
          td  57.62
        
        tr
          td  0.7
          td  NMP
          td  100
          td  50
          td  10   
          td  99
        
        tr
          td  0.7
          td  DMF
          td  25
          td  25
          td  10   
          td  47.46
           
        tr
          td  0.7
          td  DMF
          td  25
          td  50
          td  5   
          td  49.4
                
        tr
          td  0.7
          td  C7H8
          td  25
          td  50
          td  5   
          td  84.31

        tr
          td  0.7
          td  NMP
          td  25
          td  50
          td  5   
          td  99          
    
    

    
    #footer.footer.position-fixed.bottom-0.start-50.translate-middle-x
      //p ECNU & ECUST © 2023 &nbsp;&nbsp;&nbsp; Designed By Xiang and Jiang



  script(src="/Lib/bootstrap5/bootstrap.bundle.min.js")
  script(src="/Lib/jQuery3_7_1/node_modules/jquery/dist/jquery.min.js")
  script(src="Lib/node_modules/jquery-confirm/js/jquery-confirm.js")
  script(src="/javascripts/database2page_jqueryfunc.js")
  //script(src="/javascripts/mainfunction.js") 
  